<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
         <img src="assets/images/amazon1.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
         <img src="assets/images/amazon2.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
         <img src="assets/images/amazon3.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
         <img src="assets/images/amazon4.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
         <img src="assets/images/amazon5.jpg" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>
